//Text

//Sub-Heading
$paleViolet: hsl(276, 100%, 81%);
//Chat on the left
$moderateViolet: hsl(276, 55%, 52%);
//Chat on the right
$desaturatedDarkViolet: hsl(271, 15%, 43%);
//Placeholder text
$grayishBlue: hsl(206, 6%, 79%);
// Main Heading
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
// Paragraph
$darkGrayishViolet: hsl(270, 7%, 64%);
$lightVioletG: rgb(240, 229, 246);

//Gradients
$ligthMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

$white: hsl(0, 0%, 100%);

//App Background
$lightGrayishBlue: hsl(270, 20%, 96%);

//Submit button background
$veryDDV: hsl(271, 36%, 24%);

//Radio Button Outline
$veryLM: hsl(289, 100%, 72%);
